@import "tailwindcss";
@import "@nuxt/ui";


body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  --bg-color: #0a4785;
  --ui-text: color;
}


.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container {
  align-items: left;
  border-radius: 8px;
}

.user-container {
  align-items: center;
  border-radius: 10px;
  border-radius: 10px;
}

